@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled-btn:disabled {
  background: red;
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 400px) {
  html {
    font-size: 75%;
  }
}

.lp-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
}

.nav-items {
  @apply text-xl flex justify-center border-l-4 border-transparent hover:bg-red-500  transition-all py-4 hover:text-white px-4;
}
.mobile-nav-items {
  @apply text-xl flex justify-center border-b-4 border-transparent hover:bg-red-500 h-full  items-center transition-all py-4 hover:text-white px-4;
}
.user-avatar {
  @apply flex items-center justify-center text-xl text-white h-12 w-12 rounded-full bg-purple-400 uppercase;
}
.nav-right-side {
  @apply w-0 opacity-0 p-0 m-0 hidden;
}

.nav-item-active li {
  border-left: 4px solid black;
}
.mobile-nav-item-active li {
  border-bottom: 4px solid black;
}
.title {
  @apply font-medium text-xl;
}
.center {
  @apply absolute inset-x-0 mx-auto -mt-1;
}
.minor-btn {
  @apply bg-red-500 text-white px-4 py-2 ml-4 rounded;
}
.lp-nav-items {
  @apply text-lg mx-6  cursor-pointer   hover:text-lpPrimaryColor border-lpPrimaryColor transition-all;
}
.lp-primary-btn {
  @apply border-2  hover:border-transparent hover:bg-lpPrimaryColor border-lpPrimaryColor hover:text-white px-6 py-2 mt-8  rounded text-lg transition-all;
}
.lp-footer-list {
  @apply text-lg my-2 hover:text-lpPrimaryColor border-lpPrimaryColor cursor-pointer transition-all;
}
